@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

body {
  font-family: "Inter", sans-serif;
  color: #070707;
}

::selection {
    color: #F7FFF7;
    background: #e99e4c;
}

::-moz-selection {
    color: #F7FFF7;
    background: #e99e4c;
}


/** ----------NAVBAR---------- **/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #F7FFF7;
}

.navbar-brand {
  display: block;
  max-width: 15%;
  padding-left: 20px;
}
.navbar-brand img {
  width: 100%;
}

.navbar-nav li {
  padding: 0 5px;
}

.navbar-nav li a {
  color: #070707;
  font-weight: 600;
  font-size: 15px;
  float: right;
}

.navbar-nav li a:hover {
    text-decoration: underline;
}

.vertical-bar {
  border-left: 1px solid rgb(218, 215, 215);
  height: 40px;
}

.navbar-toggler {
  border: 0px !important;
  padding-right: 20px !important;
}

.fa-bars {
  font-size: 30px;
  font-weight: 600;
}

.btn-signup {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
  background-color: #e99e4c;
  border-color: #e99e4c;
  width: 200px;
  height: 40px;
  margin-right: 40px;
  border-radius: 0;
  letter-spacing: 1px;
}

.btn-signup:hover,
.btn-signup:active,
.btn-signup:focus,
.btn-signup:active:focus {
  background-color: #b37530;
  border-color: #b37530;
  color: #FFF;
}

/** ----------ALERT CONTAINER---------- **/

.alert-container {
  right: 0;
  position: absolute;
  width: 350px;
  height: 40px;
  background-color: #1f1300;
  margin-right: 56px;
}

.alert-container p {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #FFF;
  margin: 12px 0px 12px 0px;
}

/**----------CALLOUT CONTAINER---------**/

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.callout-container {
  height: 75vh;
    background: url("/assets/images/hero-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: left;
  justify-content: left;
    position: relative;
}

/**----------JUMBOTRON(callout container)---------**/

.jumbotron {
  background: transparent;
padding-top: 150px;
padding-left: 150px;
  
}

.jumbotron-header {
  color: #FFF;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  padding-left: 30px;
}

.jumbotron-btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #FFF;
  background-color: #e99e4c;
  border-color: #e99e4c;
  margin: 30px;
  height: 50px;
  width: 330px;
  border-radius: 0;
  letter-spacing: 1px;
}

.jumbotron-btn:hover,
.jumbotron-btn:active,
.jumbotron-btn:focus,
.jumbotron-btn:active:focus {
  background-color: #b37530;
  border-color: #b37530;
  color: #FFF;
}   

/**----------SERVICES CONTAINER----------**/

#services {
  padding: 3.5rem 0;
  background-color: #F6F8FF;
}

.services-header {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #070707;
  letter-spacing: 2px;
}

.services-paragraph {
  color: #070707;
  font-weight: 500;
  font-size: 30x;
  margin-bottom: 40px;
}

#services i {
  font-size: 70px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-feature {
  background: #FFF;
  height: 330px;
  max-width: 300px;
  padding: 0 40px;
  border: 0px solid rgba(194, 194, 194);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  margin: 0px 20px 0px 20px;
}

.services-feature h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.services-feature p {
  font-size: 14px;
  font-weight: 400;
  color: #8A8E91;
}

.services-btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #FFF;
  background-color: #e99e4c;
  border-color: #e99e4c;
  height: 50px;
  width: 300px;
  border-radius: 0;
  margin-top: 40px;
}

.services-btn:hover,
.services-btn:active,
.services-btn:focus,
.services-btn:active:focus {
  background-color: #b37530;
  border-color: #b37530;
  color: #FFF;
}

/**----------HOW IT WORKS CONTAINER----------**/

#howitworks {
    padding: 3.5rem 0;
}

.howitworks-header {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #070707;
  letter-spacing: 2px;
  text-align: center;
}

.howitworks-paragraph {
  color: #070707;
  font-weight: 500;
  font-size: 30x;
  margin-bottom: 40px;
  text-align: center;
}

.howitworks-bg {
  background-size: cover;
  background-position: center center;
  min-height: 450px;
  margin:0;
}

.col-howitworks {
  position: relative;
  min-height: 200px;
}

.howitworks-text {
  position: absolute;
  background-color: #FFF;
  padding: 2.5rem;
  border: 0px solid rgba(194, 194, 194);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  width: 80%;
  z-index: 1;
  min-height: 200px;
  max-height: 400px;
}

.howitworks-text h3 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.howitworks-text h3 strong {
    color: #e99e4c;
}

.howitworks-text p {
    font-weight: 300;
    color: #8A8E91;
}
.wesource-text-left .howitworks-text {
  right: -10%;
}

.wesource-text-left .howitworks-bg {
  margin-left: -10%;
}

.youchoose-text-right .howitworks-text {
  left: -10%;
}

.youchoose-text-right .howitworks-bg {
  margin-right: -10%;
}

.wedeliver-text-left .howitworks-text {
  right: -10%;
}

.wedeliver-text-left .howitworks-bg {
  margin-left: -10%;
}

.youenjoy-text-right .howitworks-text {
  left: -10%;
}

.youenjoy-text-right .howitworks-bg {
  margin-right: -10%;
}

/* FIRST CARD */
#we-source {
    margin-bottom: 72px;
}

#we-source .howitworks-bg {
  background-image: url("https://picsum.photos/500");
}

/* SECOND CARD */
#you-choose {
    margin-bottom: 72px;
}

#you-choose .howitworks-bg {
  background-image: url("https://picsum.photos/400");
}

/* THIRD CARD */
#we-deliver {
    margin-bottom: 72px;
}

#we-deliver .howitworks-bg {
  background-image: url("https://picsum.photos/400");
}

/* FOURTH CARD */
#you-enjoy {
    margin-bottom: 72px;
}

#you-enjoy .howitworks-bg {
  background-image: url("https://picsum.photos/500");
}

/* MEDIA QUERIES */
@media(max-width:767px) {
  .howitworks-bg {
    min-height: 200px;
  }

  .col-howitworks {
    min-height: auto;
  }

  .howitworks-text {
    position: relative;
  }

  .youchoose-text-right .howitworks-text {
    left: 0;
  }

  .youchoose-text-right .howitworks-bg {
    margin-right: 0;
  }

  .wesource-text-left .howitworks-text {
    right: 0;
  }

  .wesource-text-left .howitworks-bg {
    margin-left: 0;
  }
  
  .wesource-text-left, .wesource-text-right {
    margin-bottom: 1rem;
  }
}

/**----------EXPLORE CONTAINER----------**/

#explore {
    padding: 3.5rem;
    background-color: #F6F8FF;
}

.explore-container {
    height: 50vh;
  position: relative;
}

.explore-header {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #070707;
  letter-spacing: 2px;
  text-align: center;
}

.explore-paragraph-top {
    color: #070707;
    font-size: 1rem;
    text-align: center;
    font-family: "Hachi Maru Pop", serif;
}

.explore-paragraph-bottom {
    color: #070707;
    font-size: 1rem;
    text-align: center;
    font-family: "Hachi Maru Pop", serif;
}

#carouselExampleControls {
    padding: 4rem 2rem 4rem 2rem;
    height: 350px;
  max-width: 1200px;
}

.explore-row {
    background: transparent;
    margin: 0px 20px 0px 20px;
}

.bundle-feature-left {
    background-color: transparent;
    padding: 0 4rem;
}

.bundle-feature-right {
    background-color: transparent;
    padding: 0 4rem;
}

.bundle-feature-left h3 {
    text-transform: uppercase;
    color: #e99e4c;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 32px;
}

.bundle-feature-left p {
    font-weight: 500;
    font-size: 1rem;
}

.bundle-feature-left ul {
    padding-top: 20px;
    font-weight: 500;
    font-size: 1rem;
}

.bundle-feature-right h3 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24px;
}

.bundle-feature-right p {
    font-weight: 500;
    font-size: 1rem;
}

.bundle-feature-right ul {
    padding-top: 20px;
    font-weight: 500;
    font-size: 1rem;
}

.explore-btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #FFF;
  background-color: #e99e4c;
  border-color: #e99e4c;
  height: 40px;
  width: 250px;
  border-radius: 0;
  margin-top: 30px;

}

.explore-btn:hover,
.explore-btn:active,
.explore-btn:focus,
.explore-btn:active:focus {
  background-color: #b37530;
  border-color: #b37530;
  color: #FFF;
}

.carousel-control-next {
    width: 25px;
}

.carousel-control-prev {
    width: 25px;
}

.carousel-control-next-icon {
    background-color: #e99e4c;
       height: 50px;
    width: 25px;
}

.carousel-control-prev-icon {
    background-color: #e99e4c;
    height: 50px;
    width: 25px;
}

/** ----------REVIEW CONTAINER---------- **/

#review {
    padding: 3.5rem;
}

.review-header {
    font-size: 25px;
  font-weight:500;
  color: #070707;
   margin: .7em auto;
}

.review-header:before, .review-header:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px rgb(228, 228, 228) solid;
}
.review-header:after {
  margin: 0 -55% 0 .5em;
}

.review-header strong {
    color: #e99e4c;
}

.review {
    border-left: 4px solid #e99e4c;
    margin-top: 50px;
    margin-bottom: 50px;
}

.review img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details {
    display: inline-block;
}

.review-alert {
    padding-top: 2rem;
    font-family: "Hachi Maru Pop", serif;
    font-size: 25px;
}

.review-alert strong {
    color: #e99e4c;
}

.review-row {
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}